@import '../../styles/_colors';
@import '../../styles/_typography';

.formDateInput {
  &Date {
    background-color: $color-primary-light;
    height: 55px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: $color-white;
    padding: 10px;
    color: rgba($color-white, 0.3);
  }
  &Label {
    color: $color-secondary;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: block;
  }
}
