.movie-card {
	width: 340px;
	height: 600px;
	position: relative;
  
	&__image-container {
	  width: 340px;
	  height: auto;
	  margin-bottom: 25px;
	}
	&__image {
		height: 100%;
		width: 100%;
	}
	&__text {
	  text-transform: capitalize;
	  color: $color-white;
	  opacity: 0.5;
	}
	&__description {
	  display: flex;
	  justify-content: space-between;
	}
	&__title {
	  font-size: large;
	  margin-bottom: 10px;
	}
	&__category {
	  font-size: medium;
	}
	&__context-menu {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	}
  }
  