@import '../../styles/_colors';

.movieCard {
	width: 340px;
	height: 600px;
	position: relative;
  
	&ImageContainer {
	  width: 340px;
	  height: auto;
	  margin-bottom: 25px;
	}
	&Image {
		height: 100%;
		width: 100%;
	}
	&Text {
	  text-transform: capitalize;
	  color: $color-white;
	  opacity: 0.5;
	}
	&Description {
	  display: flex;
	  justify-content: space-between;
	}
	&Title {
	  font-size: large;
	  margin-bottom: 10px;
	}
	&Category {
	  font-size: medium;
	}
	&ContextMenu {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	}
  }
  