@import '../../styles/_colors';

.HomePage {
  &Main {
    background-color: $color-primary-dark;
    padding: 5px 5% 30px 5%;
  }

  &Filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &Films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
  }

  &Film {
    margin-bottom: 30px;
  }
}
